.userInfo-panel{
    width: fit-content;
    margin: 5vh 5vh auto;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
}
.headImg{
    border-radius: 10px;
}
.main-panel{
    width: fit-content;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 5vh 2vh 5vh;
}
.finish-panel{
    width: fit-content;
    padding: 25px;
    vertical-align: top;
    margin: 5vh 2vh 5vh;
}